@model Gro_bot.Models.Garden

@{
    ViewBag.Title = "Create Garden";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <title>Create New Garden</title>

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <style>
    </style>
</head>

<body>
    <!--Modal to add new tool-->
    <div class="modal fade" id="myCyclesModal" style="z-index:299999;" tabindex="-1" role="dialog" aria-labelledby="myCyclesModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myCyclesModalLabel">Tool Cycle Tracking</h4>
                </div>
                <div class="modal-body well-sm">
                    <div id="stuffToolUI">put stuff here</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="visible-lg-inline-block" style="text-align: center"><img src="~/Content/Images/GrobotLogo.png" title="Gro-Bot" /></div>

        <div class="visible-lg-inline-block">
            <h1>
                New Garden
            </h1>
        </div>
    </div>
    <hr />
    <!--Form to create new garden-->
    <form id="CreateGardenForm" @*style="margin-left: 2em"*@ autocomplete="off">


        <div class="row">
            <!--Drop down list of plant types-->
            <div class="col-lg-2">
                <label>Type of Plant</label>
            </div>
            <div class="col-lg-4">
                @Html.DropDownListFor(m => m.plantTypeID, new SelectList(Model._PlantTypeList, "plantTypeID", "plantTypeName"), "Select type of plant", new { @class = "form-control" })
                @*<div class="form-inline">
                    <input type="text" name="newPlantType" class="form-control" placeholder="Add New Plant Type..."/>
                    <button class="btn btn-primary" id="AddTypeBtn">Save</button>
                </div>*@

            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2 col-md-12">
                <label>Bed Name</label>
            </div>
            <div class="col-lg-4 col-md-12">
                <input type="text" class="form-control" placeholder="Enter Bed Name" />
            </div>

        </div>
        <br />
        @*<div class="row">
            <div class="col-lg-2">
                <label>Bed Dimension (inch)</label>
            </div>

            <div class="col-lg-2">
                <input type="text" class="form-control" placeholder="Length" />
            </div>
            <div class="col-lg-2">
                <input type="text" class="form-control" placeholder="Width" />
            </div>
        </div>
        <br />*@

        <div class="row">
            <div class="col-lg-2 col-md-12">
                <label>Cycle (days)</label>
            </div>
            <div class="col-lg-4 col-md-12">
                <span class="form-control">@Model.plantTypeCycle</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-lg-2 col-md-6">
                <label>Date to Water</label>
            </div>
            <div class="col-lg-4 col-md-6" id="waterDayDiv">
                <div>
                    <input name="waterDay" type="checkbox" value="0">
                    <span>Sunday</span>
                </div>
                <div>
                    <input name="waterDay" type="checkbox" value="1">
                    <span>Monday</span>
                </div>
                <div>
                    <input name="waterDay" type="checkbox" value="2">
                    <span>Tuesday</span>
                </div>
                <div>
                    <input name="waterDay" type="checkbox" value="3">
                    <span>Wednesday</span>
                </div>
                <div>
                    <input name="waterDay" type="checkbox" value="4">
                    <span>Thursday</span>
                </div>
                <div>
                    <input name="waterDay" type="checkbox" value="5">
                    <span>Friday</span>
                </div>
                <div>
                    <input name="waterDay" type="checkbox" value="6">
                    <span>Saturday</span>
                </div>
            </div>

            <div class="col-lg-2 col-md-6">
                <label>Date to Fertilize</label>
            </div>
            <div class="col-lg-4 col-md-6" id="ferDayDiv">
                <div>
                    <input name="ferDay" type="checkbox" value="0">
                    <span>Sunday</span>
                </div>
                <div>
                    <input name="ferDay" type="checkbox" value="1">
                    <span>Monday</span>
                </div>
                <div>
                    <input name="ferDay" type="checkbox" value="2">
                    <span>Tuesday</span>
                </div>
                <div>
                    <input name="ferDay" type="checkbox" value="3">
                    <span>Wednesday</span>
                </div>
                <div>
                    <input name="ferDay" type="checkbox" value="4">
                    <span>Thursday</span>
                </div>
                <div>
                    <input name="ferDay" type="checkbox" value="5">
                    <span>Friday</span>
                </div>
                <div>
                    <input name="ferDay" type="checkbox" value="6">
                    <span>Saturday</span>
                </div>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-lg-2">
                <label>Time to Water</label>
            </div>
            <div class="col-lg-4">
                <input id="waterTime" class="form-control" placeholder="hh:mm" />
            </div>

            <div class="col-lg-2">
                <label>Time to Fertilize</label>
            </div>
            <div class="col-lg-4">
                <input id="fertilizeTime" class="form-control" placeholder="hh:mm" />
            </div>

        </div>
        <hr />

        <button type="button" class="btn btn-success" id="CreateNewGarden">Submit</button>
        <button type="button" class="btn btn-danger" id="CancelNewGarden">Cancel</button>

    </form>
    <hr />

    @section scripts
    {

        <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
        <script type="text/javascript">

            //setInterval('window.location.reload()', 10000);

            var APIKey = '5RHD8MI4K249J8EU';
            $('#CreateNewGarden').click(function () {
                //confirm('Please make sure you have filled in the seeds of your choice!');
                var timeToWater = $('#waterTime').val();
                var timetoFertilize = $('#fertilizeTime').val();

                //Write schedule to water onto Thingspeak
                //$.post("https://api.thingspeak.com/update.json&quot",
                //    {
                //        api_key: APIKey,
                //        field4: timeToWater
                //    })
                var myWaterDayList = [];
                var myFerDayList = [];
                var mySelected;
                var myDay;

                //Checkbox for Water is checked, put it into the water day list
                $('#waterDayDiv').find('div').each(function () {
                    mySelected = $(this).find('input[name~="waterDay"]').prop("checked");
                    myDay = $(this).find('input[name~="waterDay"]').val();
                    if (mySelected) {
                        myWaterDayList.push(myDay);
                    }
                });
                //Checkbox for Fertilizer is checked, put it into the fertilizing list
                $('#ferDayDiv').find('div').each(function () {
                    mySelected = $(this).find('input[name~="ferDay"]').prop("checked");
                    myDay = $(this).find('input[name~="ferDay"]').val();
                    if (mySelected) {
                        myFerDayList.push(myDay);
                    }
                });

                alert('Days to water: ' + myWaterDayList + " Water time: " + timeToWater)
                alert('Days to fertilize: ' + myFerDayList + " Water time: " + timetoFertilize)

                reloadPage();

            });





            function reloadPage(plantTypeID) {
                var locPage = "/Grobot/CreateGarden";

                if (plantTypeID != '0' && plantTypeID != '') {
                    locPage += "?plantTypeID=" + plantTypeID;
                }
                window.location.href = locPage;
            }

            $('#plantTypeID').change(function () {
                reloadPage($(this).val());
            })

            $(document).ready(function () {
                //$.post("https://thingspeak.com/channels/1006409/field/4/last.txt",
                //    function (response) {
                //        alert(response)
                //    });
                });



        </script>


    }

</body>
</html>



