@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Login History</h3>

<p>Current user: @ViewBag.CurrentUser</p>
<ul>
    @foreach (var timestamp in ViewBag.Logins)
    {
        <li>Login at @timestamp</li>
    }
</ul>
