@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Green Eden <br />
    Senior Design Room<br />
    <abbr title="Phone">Phone: </abbr>
    206-GRO-BOT2
</address>

<address>
    <strong>Software:</strong>   <a href="mailto:tdoan1@spu.edu">tdoan1@spu.edu</a><br />
    <strong>Structure:</strong> <a href="mailto:searchg@spu.edu">searchg@spu.edu</a>
</address>