@{
    ViewBag.Title = "Home Page";
}

<style>
    .title-1 {
        font-size: 4.5rem;
        font-weight: 300;
        line-height: 1.2;
        color: darkgreen
    }

    .box {
        border: 5px solid green;
        width:49%;
        padding: 40px;
        margin: 5px;
    }
</style>
<header>
    <div class="text-center">
        <div style="" class="centered">
            <div>
                <h1 class="title-1">GroBot  -  An Automated Gardening System</h1>
                <a href="https://ecs.spu.edu/GreenEden/" class="btn btn-success" target="_blank">Learn more</a>
            </div>
        </div>
        @*Logo Image*@
        <div style="text-align: center"><img src="~/Content/Images/GrobotLogo.png" title="GroBot" /></div>

    </div>
</header>

<body>
    <div class="row">
        <div class="box col-sm-12 col-lg-6">
            <h2>Getting your garden started</h2>
            <p>
                Pick a plant, and let us know how you want us to take care of it!
            </p>
            <p><a class="btn btn-success" href="~/Grobot/CreateGarden">Start Planting &raquo;</a></p>
        </div>
        
        <div class="box col-sm-12 col-lg-6">
            <h2>See your garden</h2>
            <p>Take a look at your garden's health</p>
            <p><a class="btn btn-success" href="~/Grobot/ManageGarden">See Report &raquo;</a></p>
        </div>
    </div>

</body>
